<% if current_user.account.nil? && current_user.student? %>
    <p>First things to do:</p>
    <ul>
        <li><%= link_to "Review your personal information", {:controller => 'users', :action => 'edit', :id => current_user.id} %></li>
        <li><%= link_to "Change your password", {:controller => 'users', :action => 'change_pass', :id => current_user.id} %></li>
        <li><%= link_to "Add your billing information", {:controller => 'accounts', :action => 'new', :user_id => current_user.id} %></li>
    </ul>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="home-container">
      <div class="home-container-title">Refund claims</div>
        <div class="home-container-body">
          <!-- LINHAS DE CONTEÚDO -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="home-container">
      <div class="home-container-title">Travel plans</div>
        <div class="home-container-body">
          <!-- LINHAS DE CONTEÚDO -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="home-container">
      <div class="home-container-title">Team budget</div>
        <div class="home-container-body">
          <!-- LINHAS DE CONTEÚDO -->
      </div>
    </div>
  </div>
</div>