<h3>Reset password</h3>

<%= form_for @user, url: password_reset_path, method: :patch do |f| %>

  <div class="row">
	  <div class="col-sm-4 form-group">
	    <%= f.password_field :password, class: 'form-control', placeholder: :password %>
	  </div>
  </div>

  <div class="row">
	  <div class="col-sm-4 form-group">
	    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: :password_confirmation %>
	  </div>
  </div>

	<div class="form-buttons confirm-buttons">
	  <%= f.submit "Reset!", class: 'btn btn-info' %>
  </div>
  
<% end %>