<div class="top-buttons">
  <%= link_to raw("<button type='button' class='btn btn-primary'><span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Back</button>"), root_url %>
</div>

<h3>Reset password</h3>

<p>Please enter your e-mail to receive instructions on how to reset your password.</p>

<%= form_tag password_resets_path, method: :create do %>
	
	<div class="row">
	  <div class="col-sm-4 form-group">
	    <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'e-mail' %>
	  </div>
	</div>

	<div class="form-buttons confirm-buttons">
	  <%= submit_tag 'Submit', class: 'btn btn-info' %>
  </div>

<% end %>