<h1>Editing Q&A</h1>

<%= link_to 'Back to FAQs', :action => 'index' %>

<%= form_for :faq, :url => {:action => 'update', :id => @faq.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Update Q&A" %>
    </div>

<% end %>