<h1>New Q&A</h1>

<%= link_to 'Back to FAQs', :action => 'index' %>

<%= form_for :faq, :url => {:action => 'create'} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Create Q&A" %>
    </div>

<% end %>