<h1>Edit km allowance</h1>

<%= link_to 'Back to claims', {:controller => 'refund_claims', :action => 'show', :user_id => @user.id, :id => @refund_claim.id} %>

<%= form_for :km_allowance, :url => {:action => 'update', :user_id => @user.id, :refund_claim_id => @refund_claim.id, :id => @km_allowance.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Update km allowance" %>
    </div>

<% end %>