<h1>Editing Refund Claim</h1>

<%= link_to 'Back to claim', {:action => 'index', :user_id => @user.id} %>

<%= form_for :refund_claim, :url => {:action => 'update', :user_id => @user.id, :id => @refund_claim.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Update claim" %>
    </div>

<% end %>