<%= link_to 'Back to claims', :action => 'index', :user_id => @user.id %> | 
<%= link_to 'Edit this claim', :action => 'edit', :user_id => @user.id, :id => @refund_claim.id %>

<h2>Refund claim</h2>
<table>
    <tr>
        <th>Description</th>
        <td><%= @refund_claim.description %></td>
    </tr>
</table>