<h1>Editing Travel Plan</h1>

<%= link_to 'Back to travel plans', {:action => 'index', :user_id => @user.id} %>

<%= form_for :travel_plan, :url => {:action => 'update', :user_id => @user.id, :id => @travel_plan.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Update Travel Plan" %>
    </div>

<% end %>