<h1>Editing User</h1>

<%= link_to 'Back', {:action => 'show', :id => @user.id} %>

<%= form_for :user, :url => {:action => 'update', :id => @user.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Update User" %>
    </div>

<% end %>
