<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :project_name, :class => 'mandatory' %>
    <%= f.text_field :project_name, :class => 'form-control' %>
  </div>
</div>

<% unless @users.nil? %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label "Team members" %>
      <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="Press 'ctrl' to select and deselect multiple members.">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      </span>
      <%= f.select :user_ids, @users.map {|user| [[user.first_name, user.last_name].join(' '), user.id]}, {}, {:multiple => true, class: "form-control"} %>
    </div>
  </div>
<% end %>