@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);

/*** SASS COLORS ***/

/*** BODY AND SHARED PROPERTIES ***/

body { font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 300; color: #555; margin: 0; padding: 0; }

#page {	max-width: 1000px; margin: 0 auto; }

h1 { margin: .5em 0 1em 0; font-size: 2.5em; font-weight: 100; color: #8E8F98; }

h2 { margin: 0 0 1em 0; font-size: 1.6em; font-weight: 700; }

h3 { margin: 0 0 1em 0; font-size: 1.6em; font-weight: 700; }

h4{ margin: 0 0 1em 0; font-size: 1.2em; font-weight: 700; }

p { margin: 0 0 1em 0; }

a { color: #53B5CC; }

a:visited { color: #53B5CC; }
