@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

/****** BODY ******/

body {
	font-family: 'Nunito', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;
}

#page {
	max-width: 1000px; margin: 0 auto;
}
