@import "materialize";

//basic styles
body {
    @extend .grey-text, .text-darken-1;
    margin: 0; padding: 0;
}

h1, h2 {
    font-weight: 200;
}

//header styles
header {
    display: inline-block;
    width: 100%;
}


//main styles
main::after {
    content:''; display: block; clear: both;
}

#main_area {
    
    border-collapse: collapse;
    margin: 0; padding: 0;
    
    .navigation {
        border-radius: 0;
        margin: 0; padding: 0;
        width: 25%;
        vertical-align: top;
        
        ul {
            margin: 0; padding: 0;
        }
        
        li a {
           padding: 20px;
           display: block;
           width: 100%;
           transition: background-color .5s;
           @extend .white-text
        }
        
        li a:hover {
           background-color: rgba(0, 0, 0, .2);
        }
    }
    
    .main_section {
        margin: 0; padding: 0;
        width: 75%;
        vertical-align: top;
    }
}