@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

//colors
$white: #fff;
$black: #000;
$color-error: #c62828;

$blue-grey-lighten-5: #eceff1;
$blue-grey-lighten-4: #cfd8dc;
$blue-grey-lighten-3: #b0bec5;
$blue-grey-lighten-2: #90a4ae;
$blue-grey-lighten-1: #78909c;
$blue-grey: #607d8b;
$blue-grey-darken-1: #546e7a;
$blue-grey-darken-2: #455a64;
$blue-grey-darken-3: #37474f;
$blue-grey-darken-4: #263238;

$grey-darken-3: #424242;
$grey-lighten-5: #fafafa;
$grey-lighten-3: #eeeeee;
$grey-lighten-1: #bdbdbd;

$light-blue-lighten-5: #e1f5fe;
$light-blue-lighten-4: #b3e5fc;
$light-blue-darken-1: #039be5;
$light-blue-darken-2: #0288d1;
$light-blue-darken-3: #0277bd;
$light-blue-darken-4: #01579b;

//classes to extend
.shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}

/*** BASIC STYLES ***/
body {
    color: $grey-darken-3;
    margin: 0 auto; padding: 0;
    max-width: 1500px;
}

h1, h2, h3 {
    font-weight: 200;
}

h3, h4 {
    padding-bottom: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 0;
}

a, a:hover {
    color: $light-blue-lighten-4;
}

table {
    margin-top: 10px;
}

.top-nav::after {
    content:''; display: block; clear: both;
    margin-bottom: 20px;
}

.top-buttons {
    margin-bottom: 20px;
}

.confirm-buttons {
    margin-top: 20px;
}

.standard-actions {
    margin: 0 5px;
}

.reference-name {
    font-style: bold;
    font-size: 1.3em;
    color: red;
}

.tooltip-wrapper {
    cursor: help;
}

.mandatory::after {
    content: ' *';
    color: $color-error;
}

/*** handling forms with errors ***/
.boxes {
    .field_with_errors {
        display: inline;
    }
}

.field_with_errors {
    color: $color-error;
    font-style: italic;
}

/*** Table sizes ***/

.th-userinfo {
    width: 40%;
}

.td-userinfo {
    width: 60%;
}

/*** TWEAKING BOOTSTRAP CLASSES ***/

.panel-footer {
    background-color: transparent;
    a {
        color:$light-blue-darken-2;
    }
}

.modal-title {
    padding-bottom: 0;
}

.modal-footer {
    text-align: center;
}

/*** HEADER, MAIN and FOOTER ***/
header {
    position: relative;
    height: 60px;
    padding: 20px;
    width: 100%;
    background-color: $light-blue-darken-1;
    color: $white;
    @extend .shadow;

    .hero {
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2em;
        font-weight: bold;
    }

    .access {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}


.main-area {
    
    height: 500px;
    width: 100%;
    border-collapse: collapse;
    margin: 0; padding: 0;
    
    .navigation {
        margin: 0; padding: 0;
        width: 60px;
        vertical-align: top;
        background-color: $light-blue-darken-4;
        @extend .shadow;
        
        ul {
            margin: 0; padding: 0;
            list-style: none;
            text-align: center;
        }

        li a {
            padding: 20px 0;
            display: block;
            width: 100%;
            transition: background-color .5s;
            color: $white;
            font-size: 1.3em;
        }
        
        li a:hover {
           background-color: rgba(0, 0, 0, .2);
           text-decoration: none;
        }
    }
    
    .main_section {
        margin: 0; padding: 20px 40px;
        vertical-align: top;
    }
}

footer {
    padding: 20px;
    background-color: $blue-grey;
}

/*** FORM STYLES ***/
.general-input {
    margin: 10px 20px;
}

.general-button {
    margin: 10px 20px;
    padding: 0 20px;
    width: auto;
}

/*** CARDS STYLES ***/
.card {
    padding: 20px; margin: 20px 0;
    border-radius: 2px;
    background-color: $grey-lighten-5;
    
    @extend .shadow;
    
    .card-title {
        font-size: 1.4em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card-content {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card-action {
        border-top: 1px solid $grey-lighten-3;
        margin-top: 10px;
        padding-top: 10px;

        a {
            color: $light-blue-darken-2;   
        }
    }
}

/*** TRAVEL PLANS ***/

.travel-costs {
    margin-bottom: 0;
    td {
        padding: 5px 8px !important;
    }
    p {
        margin-bottom: 5px;
        font-size: 0.9em;
    }
    .travelplan-field-name {
        font-weight: bold;
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    .transport-row {
        margin: 0;
    }
    aside {
        display: inline-block;
        .transport-box {
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid #ddd;
            span {
                color: transparent;
            }
        }
        .transport-type {
            display: inline-block;
            margin-right: 30px;
            font-size: 0.9em;
        }
    }
    .td-costs {
        width: 15%;
        text-align: right;
        p {
            padding: 0 20px;
        }
    }
}
.signature {
    margin-top: 0;
}
.travelplan-header {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 20px;
}
.disabled-checkbox {
    label {
        color: $grey-lighten-1;
        font-weight: normal;
        font-style: italic;
    }
}


/*** USER INFORMATION ***/

.edit-userinfo {
    margin-top: 20px;
    height: 40px;

    h3 {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 15px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.user-index .actions {
    a { color:$light-blue-darken-2; }
}

/*** REFUND CLAIMS ***/
.claims-header {
    font-weight: bold;
    font-size: 1.2em;
}

.claims-aside {
    display: block;
    width: 250px;
    padding: 10px 0;

    h3 {
        margin: 0;
    }
    
    .float-left {
        float: left;
        line-height: 40px;
    }
    .float-right {
        float: right;
        line-height: 40px;   
    }
    .clearfix{
        clear:both
    }
}

.clear-date-fields {
    display: inline-block;
    padding: 5px;
    font-weight: normal;
    font-size: 0.9em;
    font-style: italic;
    text-decoration: underline;
    color: $light-blue-darken-3;
    cursor: pointer;
}

.clear-date-fields-disabled {
    display: inline-block;
    padding: 5px;
    font-weight: normal;
    font-size: 0.9em;
    font-style: italic;
    text-decoration: underline;
    color: $grey-lighten-1;
    cursor: not-allowed;
}

.trip-departure {
    padding: 20px 0 10px 0;
    color: $grey-lighten-1;
}

.trip-arrival {
    padding: 10px 0;
    a { color:$light-blue-darken-2; }
}

.trip-return {
    padding: 10px 0;
    color: $grey-lighten-1;
}

.arrival-icon {
    display: inline-block;
    width: 20px;
    height: 10px;
    border-left: 2px dotted $grey-darken-3;
    border-bottom: 2px dotted $grey-darken-3;
}

.km-actions {
    a { color:$light-blue-darken-2; }
}