/*
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

@page {
    margin: 0;
}

body {
    margin: 1.2cm;
    font-size: 10.5pt;
}

h1, h2, h3 {
    font-weight: 200;
}

h3, h4 {
    padding-bottom: 20px;
}

header * {
    display: none;
}

.navigation * {
    display: none;
}

footer * {
    display: none;
}

.print-hide * {
    display: none;
}

.main-area {
    width: 100%;
}

.aalto-logo {
    width: 120px;
}


/*** TRAVEL PLANS ***/

@media print {
    .table-bordered > tbody > tr > td {
        border: 1px solid #000 !important;
    }
}

.travel-costs {
    margin-bottom: 0;
    td {
        padding: 2px 8px !important;
    }
    p {
        margin-bottom: 5px;
        font-size: 0.9em;
    }
    .travelplan-field-name {
        font-weight: bold;
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    .transport-row {
        margin: 0;
    }
    aside {
        display: inline-block;
        .transport-box {
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid #000;
            span {
                display: none;
            }
        }
        .transport-type {
            display: inline-block;
            margin-right: 30px;
            font-size: 0.9em;
        }
    }
    .td-costs {
        width: 15%;
        text-align: right;
        p {
            padding: 0 20px;
        }
    }
}
.signature {
    margin-top: 0;
}
.travelplan-header {
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1em;
    padding-left: 4px;
}
.disabled-checkbox {
    label {
        font-weight: normal;
        font-style: italic;
    }
}
