<% flash.each do |key, value| %>

	<div class="alert alert-<%= key %>" role="alert">

		<% icon = key == "success" ? "ok" : "exclamation-sign" %>

	    <% value.each do |val| %>
	    	<span class="glyphicon glyphicon-<%= icon %>" aria-hidden="true"></span>&nbsp;<%= val %><br />
	    <% end %>
	    
	    <!-- Button for user to create payment information -->
	    <% if value == "Payment information missing!" %>
	    	<%= link_to raw("<button type='button' class='btn btn-warning'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Create now!</button>"), :controller => 'accounts', :action => 'new', :user_id => @user.id %>
	    <% end %>

	</div>

<% end %>