<h1>New Account</h1>

<%= link_to 'Back', :controller => 'users', :action => 'show', :id => @user.id %>

<%= form_for :account, :url => {:action => 'create', :user_id => @user.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons">
      <%= submit_tag "Create Account" %>
    </div>

<% end %>