<div class="top-buttons">
    <%= link_to raw("<button type='button' class='btn btn-primary'><span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> Back</button>"), {:controller => 'users', :action => 'show', :id => @user.id} %>
</div>

<h2>Fill billing info</h2>

<%= form_for :account, :url => {:action => 'create', :user_id => @user.id} do |f| %>

    <%= render :partial => "form", :locals => {:f => f} %>

    <div class="form-buttons confirm-buttons">
      <%= f.button "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> Create Account".html_safe, :class => 'btn btn-success' %>
    </div>

<% end %>